<section class="header">
    <div class="logo-container">
      <img src="/images/logo-dark.png" alt="Hero Icon">
      <span class="a-name">A.Muhamed</span>
      <span class="developer">developer</span>
    </div>
    <nav>
        <a href="#why-me" (click)="scrollTo('why-me', $event)" [class.active-link]="activeSection === 'why-me'">Why me</a>
        <a href="#skills" (click)="scrollTo('skills', $event)" [class.active-link]="activeSection === 'skills'">Skills</a>
        <a href="#projects" (click)="scrollTo('projects', $event)" [class.active-link]="activeSection === 'projects'">Projects</a>
        <a href="#contact" (click)="scrollTo('contact', $event)" [class.active-link]="activeSection === 'contact'">Contact</a>
    </nav>
    <div class="language-switcher">
        <span [class.active]="selectedLanguage === 'DE'" (click)="selectedLanguage = 'DE'">DE</span>
        <span [class.active]="selectedLanguage === 'EN'" (click)="selectedLanguage = 'EN'">EN</span>
    </div>
</section>
