<section class="header">
    <div class="logo-container">
      <img src="/images/logo-dark.png" alt="Hero Icon">
      <span class="a-name">A.Muhamed</span>
      <span class="developer">developer</span>
    </div>
    <nav>
        <a routerLink="/home" routerLinkActive="active-link">Why me</a>
        <a routerLink="/about" routerLinkActive="active-link">Skills</a>
        <a routerLink="/projects" routerLinkActive="active-link">Projects</a>
        <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
    <div class="language-switcher">
        <span>DE</span>
        <span>EN</span>
    </div>
</section>
