<section class="references">
    <h1>{{ 'references.title' | translate }}</h1>

    <div class="reference">

        <div class="reference--text-block">
            <div class="reference--overlay">
                <span class="reference-name">Sahra Mueller</span>
                <span class="project-name">{{ 'references.project' | translate }} <span class="project-name-accent">DA Bubble</span></span>
                <p>{{ 'references.bubble.quote' | translate }}</p>
                <a href="">{{ 'references.linkedIn' | translate }}</a>
            </div>
        </div>

        <div class="reference--text-block">
            <div class="reference--overlay">
                <span class="reference-name">James Rugman</span>
                <span class="project-name">{{ 'references.project' | translate }} <span class="project-name-accent">Join</span></span>
                <p>{{ 'references.join.quote' | translate }}</p>
                <a href="">{{ 'references.linkedIn' | translate }}</a>
            </div>
        </div>

        <div class="reference--text-block">
            <div class="reference--overlay">
                <span class="reference-name">Evelyn Marx</span>
                <span class="project-name">{{ 'references.project' | translate }} <span class="project-name-accent">El Pollo Loco</span></span>
                <p>{{ 'references.pollo.quote' | translate }}</p>
                <a href="">{{ 'references.linkedIn' | translate }}</a>
            </div>
        </div>

    </div>
          
</section>
