<section class="references">
    <h1>Need a teamplayer? Here what my colleagues said about me</h1>

    <div class="reference">

        <div class="reference--text-block">
            <img src="/images/ellipse02.png" alt="">
            <div class="reference--overlay">
                <span class="reference-name">Sahra Mueller</span>
                <span class="project-name">Project <span style="color: #89BCD9;">DA Bubble</span></span>
                <p>
                    ‘’Claudia had to develop, format and deliver content in collaboration 
                    with the team members. She is a reliable and friendly person.’’
                </p>
                <a href="">Linked In Profile</a>
            </div>
        </div>

        <div class="reference--text-block">
            <img src="/images/ellipse02.png" alt="">
            <div class="reference--overlay">
                <span class="reference-name">James Rugman</span>
                <span class="project-name">Project <span style="color: #89BCD9;">Join</span></span>
                <p>
                    ‘’Claudia is a reliable and friendly person. 
                    Works in a structured way and write a clear code. I recommend her
                    as a colleague.’’
                </p>
                <a href="">Linked In Profile</a>
            </div>
        </div>

        <div class="reference--text-block">
            <img src="/images/ellipse02.png" alt="">
            <div class="reference--overlay">
                <span class="reference-name">Evelyn Marx</span>
                <span class="project-name">Project <span style="color: #89BCD9;">El Pollo Loco</span></span>
                <p>
                    ‘’ She is a trustworthy teamplayer and can cope with the stress of deadlines. 
                    Structured work and clear code. ‘’
                </p>
                <a href="">Linked In Profile</a>
            </div>
        </div>

    </div>
          
</section>
