<section class="contact">
  <div class="contact-wrapper">
    <div class="contact-header">
      <h1>Contact me</h1>
    </div>
    <div class="contact-content">
          <p>Encourage people to contact you and describe what role you are 
              interested in. Show that you will add value to their projects 
              through your work. 
              Example: Feel free to get in touch with job offers or 
              opportunities such as: ...
          </p>
          <div class="contact-links">
              <a href="mailto:aernnest89@gmail.com">
                  <img src="/images/email.png" alt="" class="icon" aria-hidden="true">
                  E-mail aernnest89@gmail.com
              </a>
              <a href="tel:+491632216668">
                  <img src="/images/phone.png" alt="" class="icon" aria-hidden="true">
                  Tel: +49 163 221 6668
              </a>
          </div>
    </div>
    <div class="contact-form">
              <div class="contact-form-row contact-form-row--fields">
                  <label for="name">Your name
                  <input type="text">
                  </label> 
                  <label for="E-mail">Your Email
                  <input type="text">
                  </label>
              </div>
              <div class="contact-form-row contact-form-row--message">
                  <label for="text">
                      Your Message 
                      <textarea name="message" id="message"></textarea>
                  </label>
              </div>
              <div class="contact-form-row contact-form-row--submit">
                  <label for="agree">
                      <input type="checkbox" id="agree" name="agree">
                      I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.
                  </label>
                  <button class="send" type="submit">Send</button>
              </div>
          </div>
  </div>
</section>