<section class="hero">
  <div class="hero-img">
    <img class="profil-picture" src="/images/profilbild.png" alt="">
  </div>
  <div class="hero-name">
    <div class="logo-container">
      <img src="/images/logo-icon.png" alt="Hero Icon">
      <span class="a-name">A.Muhamed</span>
      <span class="developer">developer</span>
    </div>
    <div class="name-container">
      <span class="fullname">Annes Muhamed</span>
      <span class="f-developer">FRONTEND DEVELOPER</span>
    </div>
  </div>
  <div class="socialmedia">
    <a href="" class="icon-btn">
      <img class="icon-default" src="/images/email-button.png" alt="">
      <img class="icon-hover" src="/images/email-button-hover.png" alt="">
    </a>

    <a href="" class="icon-btn">
      <img class="icon-default" src="/images/github-button.png" alt="">
      <img class="icon-hover" src="/images/github-button-hover.png" alt="">
    </a>

    <a href="" class="icon-btn">
      <img class="icon-default" src="/images/linkedin-button.png" alt="">
      <img class="icon-hover" src="/images/linkedin-button-hover.png" alt="">
    </a>
</div>
</section>

