.hero {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 654px;
  height: auto;
  background-image: url(/images/bg-shape.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center -50px;
  transition: background-position 1.5s ease;

    &:hover {
      background-image: url('/images/shape-hover.png');
      background-position: center 100px;
    }
}

.profil-picture {
  width: 535px;
  height: 683px;
  object-fit: cover;
}

.hero-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-right: 80px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img {
  width: 56px;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.logo-container img:hover {
  transform: scaleX(1.25);
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-name {
  color: #F8F5EC;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.developer {
  color: #89BCD9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}

.fullname {
  color: #F8F5EC;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 120%;
  text-align: center;
}

.f-developer {
  color: #F8F5EC;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}

.socialmedia {
  position: relative;
  bottom: 120px;
  right: 60px;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 122px;
  opacity: 1;
  gap: 16px;
}

.socialmedia a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}

.socialmedia img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

.icon-hover {
  opacity: 0;
}

.icon-btn:hover .icon-default {
  opacity: 0;
}

.icon-btn:hover .icon-hover {
  opacity: 1;
}