.hero {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.profil-picture {
  position: absolute;
  width: 535px;
  height: 683px;
  top: 22px;
  left: 25px;
  object-fit: cover;
}

.bg-shape {
  width: 594px;
  height: 710px;
  object-fit: cover;
}

.hero-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-right: 80px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-name {
  color: #F8F5EC;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.developer {
  color: #89BCD9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}

.fullname {
  color: #F8F5EC;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 120%;
  text-align: center;
}

.f-developer {
  color: #F8F5EC;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}

.socialmedia {
  position: relative;
  bottom: 120px;
  right: 60px;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 122px;
  opacity: 1;
  gap: 16px;
}