<section class="footer">
   <div class="footer-content">
      <div class="legal-notice-container">
         <a href="#"><span>Legal notice</span></a>
         <span>© Annes Muhamed 2026</span>
      </div>

      <div class="logo-container">
         <img src="/images/logo-dark.png" alt="Hero Icon">
         <span class="a-name">A.Muhamed</span>
         <span class="developer">developer</span>
      </div>

      <div class="social-media"> 
         <a href="#" aria-label="GitHub"><img src="/images/github-gray-button.png" alt="GitHub"></a>
         <a href="#" aria-label="Email"><img src="/images/email-gray-button.png" alt="Email"></a>
         <a href="#" aria-label="LinkedIn"><img src="/images/linkedin-gray-button.png" alt="LinkedIn"></a>
      </div>
   </div>
</section>
