<section class="footer">
   <div class="footer-content">
      <div class="legal-notice-container">
         <a href="#"><span class="legal-notice-link">Legal notice</span></a>
         <span>© Annes Muhamed 2026</span>
      </div>

      <div class="logo-container">
         <img src="/images/logo-dark.png" alt="Hero Icon">
         <span class="a-name">A.Muhamed</span>
         <span class="developer">developer</span>
      </div>

      <div class="social-media"> 
         <a href="#" aria-label="GitHub" class="icon-btn">
            <img class="icon-default" src="/images/github-gray-button.png" alt="GitHub">
            <img class="icon-hover" src="/images/github-white-button.png" alt="GitHub Hover">
         </a>
         <a href="#" aria-label="Email" class="icon-btn">
            <img class="icon-default" src="/images/email-gray-button.png" alt="Email">
            <img class="icon-hover" src="/images/email-white-button.png" alt="Email Hover">
         </a>
         <a href="#" aria-label="LinkedIn" class="icon-btn">
            <img class="icon-default" src="/images/linkedin-gray-button.png" alt="LinkedIn">
            <img class="icon-hover" src="/images/linkedin-white-button.png" alt="LinkedIn Hover">
         </a>
</div>
   </div>
</section>
