<section class="why-me" id="why-me">
    <h1 class="headline">{{ 'whyMe.title' | translate }}</h1>
    <div class="information-container">
        <div class="location-web">

            <img [src]="items[currentIndex]?.icon">

            <span class="im">{{ 'whyMe.iAm' | translate }}</span>

            <span class="lic">
                {{ currentText }}<span class="cursor">|</span>
            </span>

        </div>
        <div class="about-me-container">
            <p class="about-me">{{ 'whyMe.about' | translate }}</p>
            <button>{{ 'whyMe.cta' | translate }}</button>
        </div>
    </div>
</section>
