<section class="why-me">
    <h1 class="headline">Why me</h1>
    <div class="information-container">
        <div class="location-web">
            <img src="/images/location.png" alt="location-button">
            <span class="im">I am</span>
            <span class="lic">located in Cologne...|</span>
        </div>
        <div class="about-me-container">
            <p class="about-me">Why are you passionate about coding?  
                You can include some key traits like: analytical thinking, 
                creativity, persistence and  collaboration.
                A problem-solving mindset is always nice to have.
            </p>
            <button>Let´s talk</button>
        </div>
    </div>
</section>
