<section class="why-me" id="why-me">
    <h1 class="headline">Why me</h1>
    <div class="information-container">
        <div class="location-web">

            <img [src]="items[currentIndex]?.icon">

            <span class="im">I am</span>

            <span class="lic">
                {{ currentText }}<span class="cursor">|</span>
            </span>

        </div>
        <div class="about-me-container">
            <p class="about-me">Why are you passionate about coding?  
                You can include some key traits like: analytical thinking, 
                creativity, persistence and  collaboration.
                A problem-solving mindset is always nice to have.
            </p>
            <button>Let´s talk</button>
        </div>
    </div>
</section>
