.projects {
  height: 645px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 24px;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  font-family: 'Anta', sans-serif;
  color: #89BCD9;

}

.tabs {
  display: flex;
  gap: 12px;
  width: 1140px;
  margin-left: 102px;
}

.tabs button {
  height: 97px;
  flex: 1;
  background: #262E34;
  color: #89BCD9;
  border: none;
  font-size: 18px;
  cursor: pointer; 
  width: 248px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.tabs button.active {
  background: #89BCD912;
  color: #F8F5EC;
}

.project-content {
  background: #89BCD912;
  height: 548px;
}

.project-details {
  height: 517px;
  padding: 20px 60px 0 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.project-info {
  margin-bottom: 24px;
}

.project-subtitle {
  width: 339px;
  height: 28px;
  left: 50px;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: 'Josefin Sans', sans-serif;
  color: #F8F5EC;
}

.project-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #F8F5EC;
}