<section class="projects">
  <h1>My Projects</h1>

  <nav class="tabs">
    @for (project of projects; track project.id; let index = $index) {
      <button
        (click)="setActiveProject(project.id)"
        [class.active]="activeProjectId === project.id">
        {{ index + 1 }}. {{ project.title }}
      </button>
    }
  </nav>

  <div class="project-content">

    @if (activeProjectId === 'Da Bubble') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">About the project</span>
              <p class="project-text">
                This App is a Slack Clone App. <br>
                It revolutionizes team communication 
                and collaboration with its intuitive interface, 
                real-time messaging, and robust channel organization.
              </p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">How I have organised my work process</span>
                <p class="project-text">
                  How do you keep your code clean and maintainable? 
                  Have you broken the project down into reusable modules or components? 
                  Focus on documentation, naming files, variables, classes and testing.
                </p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">My group work experience</span>
                <p class="project-text">
                  How many people were in the team and what was your role? 
                  Describe your tasks in 1-2 sentences, for example: 
                  login form, dashboard or chat functionality.
                  What technologies did you use?
                  It is nice to mention good teamwork and cooperation.
                </p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span>Technologies</span>
            <div>
              <img src="/images/angular-logo.png" alt="">
              <img src="/images/ts-logo.png" alt="">
              <img src="/images/firebase-logo.png" alt="">
            </div>
            <img src="/images/screenshot-project.png" style="width: 453px; height: 312px;" alt="">
            <div>
              <button>Live Test</button>
              <button>GitHub</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'El Pollo Loco') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">About the project</span>
              <p class="project-text">
                This App is a Slack Clone App. <br>
                It revolutionizes team communication 
                and collaboration with its intuitive interface, 
                real-time messaging, and robust channel organization.
              </p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">How I have organised my work process</span>
                <p class="project-text">
                  How do you keep your code clean and maintainable? 
                  Have you broken the project down into reusable modules or components? 
                  Focus on documentation, naming files, variables, classes and testing.
                </p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">My group work experience</span>
                <p class="project-text">
                  How many people were in the team and what was your role? 
                  Describe your tasks in 1-2 sentences, for example: 
                  login form, dashboard or chat functionality.
                  What technologies did you use?
                  It is nice to mention good teamwork and cooperation.
                </p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span>Technologies</span>
            <div>
              <img src="/images/angular-logo.png" alt="">
              <img src="/images/ts-logo.png" alt="">
              <img src="/images/firebase-logo.png" alt="">
            </div>
            <img src="/images/screenshot-project.png" style="width: 453px; height: 312px;" alt="">
            <div>
              <button>Live Test</button>
              <button>GitHub</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'Join') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">About the project</span>
              <p class="project-text">
                This App is a Slack Clone App. <br>
                It revolutionizes team communication 
                and collaboration with its intuitive interface, 
                real-time messaging, and robust channel organization.
              </p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">How I have organised my work process</span>
                <p class="project-text">
                  How do you keep your code clean and maintainable? 
                  Have you broken the project down into reusable modules or components? 
                  Focus on documentation, naming files, variables, classes and testing.
                </p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">My group work experience</span>
                <p class="project-text">
                  How many people were in the team and what was your role? 
                  Describe your tasks in 1-2 sentences, for example: 
                  login form, dashboard or chat functionality.
                  What technologies did you use?
                  It is nice to mention good teamwork and cooperation.
                </p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span>Technologies</span>
            <div>
              <img src="/images/angular-logo.png" alt="">
              <img src="/images/ts-logo.png" alt="">
              <img src="/images/firebase-logo.png" alt="">
            </div>
            <img src="/images/screenshot-project.png" style="width: 453px; height: 312px;" alt="">
            <div>
              <button>Live Test</button>
              <button>GitHub</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'Ongoing Project') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">About the project</span>
              <p class="project-text">
                This App is a Slack Clone App. <br>
                It revolutionizes team communication 
                and collaboration with its intuitive interface, 
                real-time messaging, and robust channel organization.
              </p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div>
                <span class="project-subtitle">How I have organised my work process</span>
                <p class="project-text">
                  How do you keep your code clean and maintainable? 
                  Have you broken the project down into reusable modules or components? 
                  Focus on documentation, naming files, variables, classes and testing.
                </p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div>
                <span class="project-subtitle">My group work experience</span>
                <p class="project-text">
                  How many people were in the team and what was your role? 
                  Describe your tasks in 1-2 sentences, for example: 
                  login form, dashboard or chat functionality.
                  What technologies did you use?
                  It is nice to mention good teamwork and cooperation.
                </p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span>Technologies</span>
            <div>
              <img src="/images/angular-logo.png" alt="">
              <img src="/images/ts-logo.png" alt="">
              <img src="/images/firebase-logo.png" alt="">
            </div>
            <img src="/images/screenshot-project.png" style="width: 453px; height: 312px;" alt="">
            <div>
              <button>Live Test</button>
              <button>GitHub</button>
            </div>
          </div>

      </div>
    }

  </div>
</section>
