<section class="projects" id="projects">
  <h1>{{ 'projects.title' | translate }}</h1>

  <nav class="tabs">
    @for (project of projects; track project.id; let index = $index) {
      <button
        (click)="setActiveProject(project.id)"
        [class.active]="activeProjectId === project.id">
        {{ index + 1 }}. {{ project.titleKey ? (project.titleKey | translate) : project.title }}
      </button>
    }
  </nav>

  <div class="project-content">

    @if (activeProjectId === 'Da Bubble') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">{{ 'projects.subtitle.about' | translate }}</span>
              <p class="project-text" [innerHTML]="$any('projects.bubble.about' | translate)"></p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.process' | translate }}</span>
                <p class="project-text">{{ 'projects.bubble.process' | translate }}</p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.group' | translate }}</span>
                <p class="project-text">{{ 'projects.bubble.group' | translate }}</p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span class="project-technologies-label">{{ 'projects.technologies' | translate }}</span>
            <div class="project-technologies-icons-container">
              <img src="/images/angular-logo.png" class="project-technologies-icons" alt="Angular Logo">
              <img src="/images/ts-logo.png" class="project-technologies-icons" alt="TypeScript Logo">
              <img src="/images/firebase-logo.png" class="project-technologies-icons" alt="Firebase Logo">
            </div>
            <img src="/images/screenshot-project.png" style="width: 453px; height: 312px;" alt="">
            <div class="project-actions">
              <button class="project-action-button-lt" type="button">Live Test</button>
              <button class="project-action-button">{{ 'projects.github' | translate }}</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'El Pollo Loco') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">{{ 'projects.subtitle.about' | translate }}</span>
              <p class="project-text">{{ 'projects.pollo.about' | translate }}</p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.process' | translate }}</span>
                <p class="project-text">{{ 'projects.pollo.process' | translate }}</p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.group' | translate }}</span>
                <p class="project-text">{{ 'projects.pollo.group' | translate }}</p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span class="project-technologies-label">{{ 'projects.technologies' | translate }}</span>
            <div class="project-technologies-icons-container">
              <img src="/images/html-logo.png" class="project-technologies-icons" alt="Angular Logo">
              <img src="/images/js-logo.png" class="project-technologies-icons" alt="TypeScript Logo">
              <img src="/images/css-logo.png" class="project-technologies-icons" alt="Firebase Logo">
            </div>
            <img src="/images/el-pollo-loco.png" style="width: 453px; height: 312px; border-radius: 30px;" alt="">
            <div class="project-actions">
              <button class="project-action-button-lt" type="button">Live Test</button>
              <button class="project-action-button">{{ 'projects.github' | translate }}</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'Join') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info">
              <span class="project-subtitle">{{ 'projects.subtitle.about' | translate }}</span>
              <p class="project-text">{{ 'projects.join.about' | translate }}</p>
            </div>
          </div>

          
            <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.process' | translate }}</span>
                <p class="project-text">{{ 'projects.join.process' | translate }}</p>
              </div>
            </div>

          <div style="display: flex; gap: 20px; align-items: flex-start;">
              <img src="/images/ellipse8.png" alt="">
              <div class="project-info">
                <span class="project-subtitle">{{ 'projects.subtitle.group' | translate }}</span>
                <p class="project-text">{{ 'projects.join.group' | translate }}</p>
              </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px;">
            <span class="project-technologies-label">{{ 'projects.technologies' | translate }}</span>
            <div class="project-technologies-icons-container">
              <img src="/images/html-logo.png" class="project-technologies-icons" alt="Angular Logo">
              <img src="/images/js-logo.png" class="project-technologies-icons" alt="TypeScript Logo">
              <img src="/images/css-logo.png" class="project-technologies-icons" alt="Firebase Logo">
            </div>
            <img src="/images/join.png" style="width: 453px; height: 312px; border-radius: 30px;" alt="">
            <div class="project-actions">
              <button class="project-action-button-lt" type="button">Live Test</button>
              <button class="project-action-button">{{ 'projects.github' | translate }}</button>
            </div>
          </div>

      </div>
    }

    @if (activeProjectId === 'Ongoing Project') {
      <div class="project-details">

        <div style="width: 694px;">

          <div style="display: flex; gap: 20px; align-items: flex-start;">
            <img src="/images/ellipse8.png" alt="">
            <div class="project-info" style="width: 343px;">
              <span class="project-subtitle">About the project</span>
              <p class="project-text">
                What are you currently working on and what features are you implementing? 
                What is the key to success in your projects?  
                You can mention good planning,  code quality and execution. </p>
                <p class="project-text">Show a desire to learn new technologies and continually improve your skills.</p>
              
            </div>
          </div>
        </div>


          <div style="display: flex; flex-direction: column; width: 453px; align-items: center; gap: 18px; justify-content: center;">
            <span class="project-technologies-label">Technologies</span>
            <div class="project-technologies-icons-container">
              <img src="/images/angular-logo.png" class="project-technologies-icons" alt="Angular Logo">
              <img src="/images/ts-logo.png" class="project-technologies-icons" alt="TypeScript Logo">
              <img src="/images/html-logo.png" class="project-technologies-icons" alt="HTML Logo">
              <img src="/images/css-logo.png" class="project-technologies-icons" alt="CSS Logo">
              <img src="/images/vue.js-logo.png" class="project-technologies-icons" alt="Vue.js Logo">
              <img src="/images/react-logo.png" class="project-technologies-icons" alt="React Logo">
            </div>
            <div>
              <img src="/images/image.png" style="width: 453px; height: 312px;" alt="">
            </div>
          </div>

      </div>
    }

  </div>
</section>
