.projects {
  width: 100%;
  max-width: 1920px;
  height: 645px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 24px;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  font-family: 'Anta', sans-serif;
  color: #89BCD9;

}

.tabs {
  display: flex;
  gap: 12px;
  width: 1140px;
  margin-left: 102px;
}

.tabs button {
  height: 97px;
  flex: 1;
  background: #262E34;
  color: #89BCD9;
  border: none;
  font-size: 18px;
  cursor: pointer; 
  width: 248px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.tabs button.active {
  background: #89BCD912;
  color: #F8F5EC;
}

.project-content {
  background: #89BCD912;
  height: 548px;
}

.project-details {
  height: 517px;
  padding: 20px 60px 0 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.project-info {
  margin-bottom: 24px;
}

.project-subtitle {
  width: 339px;
  height: 28px;
  left: 50px;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  font-family: 'Josefin Sans', sans-serif;
  color: #F8F5EC;
}

.project-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #F8F5EC;
}

.project-technologies-label {
  width: 179px;
  height: 22px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #F8F5EC;
}

.project-technologies-icons-container {
  height: 36px;
  gap: 16px;
  display: flex;
}

.project-technologies-icons {
  width: 36px;
  height: 36px;
}

.project-actions {
  width: 292px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.project-action-button {
  width: 132px;
  height: 48px;
  padding-top: 13px;
  padding-right: 26px;
  padding-bottom: 13px;
  padding-left: 26px;
  border-radius: 30px;
  border: 1px solid #89BCD9;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
}

// .comming-soon {
//   width: 218px;
//   height: 36px;
//   font-weight: 500;
//   font-size: 30px;
//   line-height: 120%;
//   color: #89BCD9;
//   font-family: 'Josefin Sans', sans-serif;
//   position: relative;
//   bottom: 169px;
// }