<section class="skill-section">
    <h1>My Skills</h1>
    <div class="skill-contents">
        <div class="skills">

            <div class="skill-item">
                <img class="icons" src="/images/angular-logo.png" alt="Angular">
                <span>Angular</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/ts-logo.png" alt="TypeScript">
                <span>TypeScript</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/js-logo.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/html-logo.png" alt="HTML">
                <span>HTML</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/css-logo.png" alt="CSS">
                <span>CSS</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/api-logo.png" alt="REST-API">
                <span>REST.API</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/firebase-logo.png" alt="Firebase">
                <span>Firebase</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/git-logo.png" alt="Git">
                <span>Git</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/material-logo.png" alt="Material-Design">
                <span>Material <br> Design</span>
            </div>

            <div class="skill-item">
                <img class="icons" src="/images/scrum-logo.png" alt="Scrum">
                <span>Scrum</span>
            </div>
        </div>
        <div class="currently-learning">
            <img src="/images/ellipse25.png" style="width: 375px; height: 391px;" alt="Ecllipse Design">

            <div class="learning-skills">
                <span class="learning-skills-span">I am currently learning</span>

                <div class="learning-contents">

                    <div class="learning-icons-container">
                        <div class="learning-icons">
                            <img class="learning-icon" src="/images/react-logo.png" alt="React">
                            <span class="skill-name">React</span>
                        </div>
                        
                        <div class="learning-icons">
                            <img class="learning-icon" src="/images/vue.js-logo.png" alt="Vue.js">
                            <span class="skill-name">Vue.js</span>
                        </div>
                    </div>

                    <div class="learning-motivation-container">
                        <span class="learning-motivation">
                            Show that you are motivated to continually improve your skills,
                            implement innovative solutions and stay abreast of new technologies.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
