@font-face {
  font-family: 'Anta';
  src: url('/fonts/Anta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #262E34;
}